entrypoint = "app.py"
run = "python app.py"
modules = ["python-3.11"]

[deployment]
deploymentTarget = "autoscale"
run = ["python", "app.py"]
build = ["pip", "install", "-r", "requirements.txt"]

[[ports]]
localPort = 5000
externalPort = 80

[nix]
packages = ["glibcLocales"]
